body {
    --max-row-span: 2;
}

hr {
    width: 100%;
    border: 1px solid var(--divider-color);
}

.landingPageInfo {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    padding-bottom: 25px;
}

.socialIconsAndProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 50px 0 50px;
}

.profilePictureContainerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 277px;
    height: 277px;
    margin: auto;
}

.profilePictureContainer {
    position: relative;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.profilePictureContainer:hover {
    animation-name: profile-animation;
    cursor: pointer;
}

.profilePicture {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.kachow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
}

.kachow:hover {
    animation-name: kachow-animation;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-direction: normal;
}

.profileInfoContainer {
    margin: 25px 25px 0;
}

.profileHeader,
.profileDescription,
.greeting {
    margin: 5px 25px;
}

.greeting {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.hiThere {
    margin-right: 20px;
    margin-left: 0;
}

.nameContainer {
    position: relative;
    overflow: hidden;
}

.nameContainer:hover .nameUnderlineLeft {
    animation: text-underline-left-animation 0.5s forwards;
}

.nameContainer:hover .nameUnderlineRight {
    animation: text-underline-right-animation 0.3s forwards 0.2s;
}

.name {
    text-decoration: none;
    margin: 0;
}

.nameUnderlineLeft {
    position: absolute;
    width: 78%;
    height: 2px;
    background-color: var(--font-color);
    bottom: 10%;
    left: 0;
    transform: translateX(-101%);
}

.nameUnderlineRight {
    position: absolute;
    width: 13.5%;
    height: 2px;
    background-color: var(--font-color);
    bottom: 10%;
    right: 0;
    transform: translateX(110%);
}

.profileDescription {
    color: var(--subtle-font-color);
}

.rowDivider {
    width: calc(100% - 50px);
    grid-column: span var(--max-row-span);
    margin: 0 25px;
}

.programmingLanguagesContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    grid-column: span var(--max-row-span);
    margin: 0 25px;
}

.pillsContainer {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.PFTCContainers {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    grid-column: span var(--max-row-span);
    margin: 0 25px;
}

.currentFocusLearnMoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.currentFocusLearnMore {
    color: var(--font-color);
}

.learnMoreArrowsSvg {
    margin-top: 10px;
}

.learnMoreArrowsSvg:hover {
    cursor: pointer;
}

.learnMoreArrowsSvg:hover #arrow1 {
    transform: translateY(0);
    opacity: 1;
}

.learnMoreArrowsSvg:hover #arrow2 {
    transform: translateY(30%);
}

.learnMoreArrowsSvg:hover #arrow3 {
    transform: translateY(100%);
    opacity: 0;
}

#arrow1,
#arrow2,
#arrow3 {
    transition: 0.5s;
}

#arrow1 {
    fill: #19EFD275;
    transform: translateY(-100%);
    opacity: 0;
}

#arrow2 {
    fill: #E7488F75;
}

#arrow3 {
    fill: #25A1E775;
}

@media (max-width: 1100px) {
    body {
        --max-row-span: 1;
    }
    .landingPageInfo {
        grid-template-columns: auto;
    }
    .socialIconsAndProfileContainer {
        margin: auto;
    }
    .profileHeader,
    .profileDescription,
    .greeting {
        margin: 5px 0;
    }
    .hiThere {
        margin-right: 20px;
    }
    .nameContainer {
        margin: 0;
    }
}

@media (max-width: 750px) {
    body {
        --max-row-span: 1;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    .landingPageInfo {
        grid-template-columns: auto;
    }
    .profileHeader,
    .profileDescription,
    .greeting {
        margin: 5px 0;
    }
    .hiThere {
        margin-right: 15px;
    }
}

@keyframes profile-animation {
    0% {
        width: 248px;
        height: 248px;
    }
    50% {
        width: 273px;
        height: 273px;
        transform: rotate(0deg);
    }
    100% {
        width: 273px;
        height: 273px;
        transform: rotate(360deg);
    }
}

@keyframes kachow-animation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}