.pill {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--subtle-border-color);
    border-radius: 50px;
    width: fit-content;
    min-width: 20px;
    height: fit-content;
    background-color: transparent;
    padding: 5px 10px;
    text-align: center;
}

.pillText {
    color: var(--subtle-font-color);
}