/*:root {
  --border-color: #000;
  --background: radial-gradient(115.47% 153.8% at -1.28% -3.49%, #76FF64 0%, #FFF 44.32%, #A5FFF4 100%);
}*/

.landingPageInfoContainer {
  margin: 50px auto;
  background-color: var(--blury-background-color);
  backdrop-filter: blur(100px);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  width: 90%;;
  max-width: 1200px;
  height: fit-content;
}

@media (max-width: 550px) {
  .landingPageInfoContainer {
    margin-top: 25px;
  }
}

@keyframes text-underline-left-animation {
  0% {
    transform: translateX(-101%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes text-underline-right-animation {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0%);
  }
}