hr {
    width: 100%;
    border: 1px solid var(--divider-color);
}

.heedixGallerySection {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--blury-background-color);
    backdrop-filter: blur(100px);
    border: 2px solid var(--border-color);
    gap: 25px;
    border-radius: 12px;
    padding: 50px;
    width: fit-content;
    max-width: 1500px;
}

/*.heedixGallerySectionRow1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: fit-content;
}*/

.heedixGallerySectionRow1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    width: 100%;
    height: fit-content;
}

.heedixGallerySectionRow1Video {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.projectSectionRow1Column2 {
    display: flex;
    flex-direction: column;
}

.margin25lr {
    margin: 0 25px;
}

.heedixGallerySectionRow2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
    width: 100%;
    height: fit-content;
}

.heedixGallerySectionRow2Video {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.heedixGallerySectionTechnologiesUsed {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@keyframes border-fadein {
    from {
        border-color: transparent;
    } to {
        border-color: var(--border-color);
    }
}

@media (max-width: 1200px) {
    .heedixGallerySection {
        padding: 25px;
    }
    .heedixGallerySectionRow1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .heedixGallerySectionRow2 {
        display: flex;
        flex-direction: column;
    }
}